<div id="init_projects">
  <ul>
    <% @projects.each do |p| %>
      <li>
        <p><%= link_to p.name, project_path(p) %>
        <%= image_tag(image_path(p.image.url(:medium))) %>
        </p>
        <%= p.tags.map(&:id) %>
        <p><%= truncate(p.description, length: 40) %> </p>
        <p><%= p.city %></p>
      </li>
    <% end %>
  </ul>
</div>