<div class="row">
  <img src="http://i58.tinypic.com/2gvlq15.png"/>
</div>

<h1 class="title_block">Explore our initiatives.</h1>
  <p class="">
    Discover how YOU can make a difference! Connect with passionate organizations and their amazing initiatives.
  </p>


<% if current_user  %>
  <button><%= link_to " + New Initiative", new_initiative_path, class: "profile_button" %> <br>
  </button>
<% end %>

<div class="initiative_box">
  <ul>
    <% @initiatives.each do |init| %>
      <li>
        <p class="icon_box">
          <%= link_to initiative_path(init) do  %>
            <%= image_tag(init.image, height: "225", width: "225", class: "icon") %>
          <% end %>
        </p>
        <br>
        <p class="name_me"><%=link_to init.name, initiative_path(init.id) %> </p>
        <p class="desc_me"><%= truncate(init.description, length: 40) %> </p>
      </li>
    <% end %>
  </ul>
</div>