<h5>Initiative: </h5>
  <div class="title_block">
  <h1> <%= @initiative.name %> </h1>
  </div>

  <div class="banner">
        <p class="icon_box">
          <%= link_to initiative_path(@initiative) do  %>
            <%= image_tag(@initiative.image, height: "225", width: "225", class: "icon") %>
          <% end %>
  </div>

  <div class="init_desc">
  <%= @initiative.description %>
  </div>

  <% @projects = @initiative.projects %>
  <%= render 'projectspartial' %>

<br>

<% if current_user && @initiative.owner_id == current_user.id %>
    <%= link_to('New Project' , new_initiative_project_path(@initiative)) %>
<% end %>
