<h5>Initiative: </h5>
  <div class="title_block">
  <h1> <%= @initiative.name %> </h1>
  </div>

  <div class="banner">
    <%= image_tag image_path(@initiative.image.url(:banner))%>
  </div>

  <div class="init_desc">
  <%= @initiative.description %>
  </div>

  <% @projects = @initiative.projects %>
  <%= render 'projectspartial' %>

<br>

<% if current_user && @initiative.owner_id == current_user.id %>
    <%= link_to('New Project' , new_initiative_project_path(@initiative)) %>
<% end %>
