<h1>Initiative: </h1> <h1> <%= @initiative.name %> </h1>
<div class="banner">
  <%= image_tag image_path(@initiative.image.url(:banner)) %>
</div>

<%= @initiative.description %>


<% @initiative.projects.each do |project| %>
<div id="projects_show">
   <%= render 'projectspartial', p: project %>
</div>
<% end %>


<%= link_to('New Project' , new_initiative_project_path(@initiative)) %>