<h1>Initiative: </h1> <h1> <%= @initiative.name %> </h1>
<div class="banner">
  <%= image_tag image_path(@initiative.image.url(:banner)) %>
</div>

<%= @initiative.description %>

<% @initiative.projects.each do |project| %>
  <%= project.name %>
  <%= project.description %>
<% end %>