<div class="title_block">
  <h1> <%= @initiative.name %> </h1>
</div>

<div class="initiative_box">
  <p class="icon_box">
      <%= image_tag(@initiative.image, height: "225", width: "225", class: "icon") %>
  </p>
</div>

  <div class="init_desc">
  <%= @initiative.description %>
  </div>

  <% @projects = @initiative.projects %>
  <%= render 'projectspartial' %>

<br>

<% if current_user && @initiative.owner_id == current_user.id %>
    <button> <%= link_to 'New Project', new_initiative_project_path(@initiative), class: "nav_link" %></button>
<% end %>

