<!--   <div class="row">
    <img src="http://i58.tinypic.com/33okykk.png">
  </div> -->


  <h1 class="title_block" id="user_name">
    <%=  "Hey, #{@user.first_name} #{@user.last_name}" %>
  </h1>

<br><br><br><br>

<div class="info_box">
  <span class="aboutme">
    <dl>
      <dt>What's my deal:</dt>
      <dd><%= "#{@user.about_me}" %></dd>
      <br>
      <dt>Reach out:</dt>
      <dd><%= "#{@user.email}" %></dd>
    </dl>
  </span>

  <div class="stats">
    <h3>My Ripple stats</h3>
  <%= render 'user_stats' %>
  </div>
</div>


<% if @owned %>
  <div class="title_block">
  <h2 class="my_init">My Initiatives</h2>
  </div>
  <div class="my_init_info">
  <br>
    <dl>
      <dt><%= @owned.name %></dt>
      <dd><%= @owned.description %></dd>
    </dl>
    <button><%= link_to "#{@owned.name} Projects", initiative_path(@owned), class: "profile_button" %></button>
  </div>
<% end %>

<br><br><br><br><br>
