<%= form_tag projects_path , method: :get, id: "search-form" do %>
<div>
  <h4>Causes</h4>

  <div class="searchie">
    <% Tag.where(category: 'cause').all.each do |t| %>
       <%= label_tag t.name %> <%= check_box_tag t.id, t.id %>
      <br>
    <% end %>

  <h4>Contributions</h4>

  <% Tag.where(category: 'contribution').all.each do |t| %>
    <%= label_tag t.name %> <%= check_box_tag t.id, t.id %>
    <br>
  <% end %>
  </div>

  <%= submit_tag "Search" %>
<% end %>
</div>