<%= form_tag projects_path , method: :get, id: "search-form" do %>
<div>
  <ul>
  <div class="searchie">
    <div class="cause_options box_effect">
      <h4>Causes</h4>
      <% Tag.where(category: 'cause').all.each do |t| %>
         <li>
           <%= label_tag t.name %>
           <%= check_box_tag t.id, t.id %>
         </li>
      <% end %>
    </div>

    <div class="contribution_options box_effect">
      <h4>Contributions</h4>
      <% Tag.where(category: 'contribution').all.each do |t| %>
        <li>
          <%= label_tag t.name %>
          <%= check_box_tag t.id, t.id %>
        </li>
      <% end %>
    </div>
  </div>
  </ul>

  <%= button_tag "Search", class: "search_button" %>

<% end %>
</div>