<!-- Header -->
<section id="projectsbackground" class="container-fluid text-white">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h1 class="text-left">
          </h1>
           <img src="http://i60.tinypic.com/2dkixjo.png"/>
          <h1 class="main_title">Explore our projects.</h1>
          <p class="text-left lead">
            Based upon your interests and skills we connect you with like minded people!
          </p>
        </div>
        <div class="col-md-6 column">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container  -->
</section>
<!-- end header -->

<section>
<%= render 'search_bar' %>
</section>


<div id="about" class="container text-blue">
<div class="row clearfix">
<div class="col-md-12 column p_title">
<% @projects.each do |project| %>
<div class="col-xs-6 col-md-3 column text-center">
  <%= image_tag(image_path(project.image.url(:medium))) %>
  <strong><p><%= link_to project.name, project_path(project) %>, </p> </strong>
  <%= project.tags.map(&:id) %>
  <p><%= truncate(project.description, length: 100) %> </p>
  <p><%= project.city %></p>

</div>
<% end %>
</div>
</div>
</div>




