<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h1 class="text-left">
            <i id="logo" img class="fa fa-tasks"></i>
          </h1>
          <h1 class="main_title">We make finding an initiative that suits YOU easy!</h1>
          <p class="text-left lead">
            Our unique compatability survey will find projects based on the causes you're passionate about and the way you want to contribute. 
          </p>
          <a href="#" class="btn btn-lg btn-lead"><span class=""></span> Find my match!</a>

          <a href="#" class="btn btn-lg btn-link"><span class="fa fa-arrow-circle-o-right"></span> Check out some projects</a>
        </div>
        <div class="col-md-6 column">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container  -->
</section>   
<!-- end header -->

<!-- start middle -->

<div class="container">
<div class="col-xs-12">

    <div class="page-header">
        <h3>Bootstrap 3.3.0</h3>
        <p>Responsive Moving Box Carousel Demo</p>
    </div>
        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3"> 
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="fff">
                <div class="thumbnail">
                  <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                </div>
                <div class="caption">
                  <h4>Praesent commodo</h4>
                  <p>Nullam Condimentum Nibh Etiam Sem</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 --> 
        </div>
        
       
     <nav>
      <ul class="control-box pager">
        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
      </ul>
    </nav>
     <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.col-xs-12 -->          

</div><!-- /.container -->

<!-- end middle -->


<%= form_tag projects_path, method: :get, authentication: false do %>
    <div class="control-group">
      <%= label_tag :tag_id %> <br>
      <%= select_tag(:tag_id, options_from_collection_for_select(Tag.where(category: 'cause'), "id", "name")) %>
      <%= submit_tag "Search By Causes", :name => nil %>
    </div>

<% end %>

<%= form_tag projects_path, method: :get, authentication: false do %>
    <div class="control-group">
      <%= label_tag :tag_id %> <br>
      <%= select_tag(:tag_id, options_from_collection_for_select(Tag.where(category: 'contribution'), "id", "name")) %>
      <%= submit_tag " Ways To Contribute", :name => nil %>
    </div>
<% end %>

<section class = "project">
<% @projects.each do |project| %>
  <%= image_tag(image_path(project.image.url(:medium))) %>
  <strong><p><%= link_to project.name, project_path(project) %>, </p> </strong>
  <p><%= project.description %> </p>
  <p><%= project.city %></p>
  <p><%= project.tag_id %></p>
<br>
</section>
<% end %>


