<h1 class="title_block">Your recommended projects</h1>

<div id="suggested">
<ul>
  <% @projects.each do |p| %>
  <li>
  <div class="image_project">
      <%= image_tag image_path(p.image.url(:medium))%>
      <h3><%= link_to p.name, project_url(p) %></h3>

      <!-- Just to see the tag -->
      <%= p.tags.map(&:id) %>

      <p><strong>City: </strong><%= p.city %></p>
      <p><strong>Description: </strong><%= truncate(p.description, length: 30) %></p>
  </li>
  <% end %>
</ul>
</div>

