
<% @projects.each do |p| %>
<h3><%= link_to p.name, project_url(p) %></h3>
<p><%= p.tag_ids.each do |t| %> </p>
<%= print "#{t}" %>
<% end %>
<p><strong>City: </strong><%= p.city %></p>
<p><strong>Description: </strong><%= p.description %></p>
<div class="image_project">
  <%= image_tag image_path(p.image.url(:medium))%>
</div>
<% end %>


<% @projects.each do |p| %>
  <%= image_tag(image_path(p.image.url(:medium))) %>
  <ul>
    <li><strong><p><%= link_to p.name, project_path(p) %>,
  </p> </strong>
  <%= p.tags.map(&:id) %>
  <p><%= truncate(p.description, length: 100) %> </p>
  <p><%= p.city %></p></li>
  </ul>
<% end %>