<!DOCTYPE html>
<html>
<head>
  <title>Ripple</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
    <div class="row">
        <div class="large-3 columns">
          <%= link_to root_url do %>
          <h1><img src="http://i61.tinypic.com/2j5nx2f.png"/></h1>
          <% end %>
        </div>
        <div class="nav">
          <ul class="nav">

        <% if current_user %>
          <li><%= link_to 'Survey', survey_url, class: "ajax-popup-link" %> </li>
          <li> <%= link_to "Recommended", suggested_projects_url %> </li>
        <% end %>
          <li> <%= link_to "Explore", projects_url %> </li>
          <li> <%= link_to "Initiatives", initiatives_url %> </li>

          <% if current_user %>
          <li>  <%= link_to "My Profile", user_path(current_user) %> </li>
          <li>  <%= link_to "Logout", logout_path %> </li>
          <% else %>
          <li>  <%= link_to "Register", new_user_path %> </li>
          <li> <%= link_to "Login", login_path %> </li>
          <% end %>
        </ul>
      </div>

  <%= link_to 'POPUP', "https://i.ytimg.com/vi/Bu-XjQNByl8/hqdefault.jpg", class: "ajax-popup-link"  %>

<a href="#openModal">Take the Survey</a>

<div id="openModal" class="modalDialog">
  <div>
  <a href="#close" title="Close" class="close">X</a>

  </div>
</div>


  </div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<br>
<br>
<br>

<%= yield %>


</div>

</body>
</html>